<% if flash[:notice] %>
  <div class="flash">
    <%= flash[:notice] %>
  </div>
<% end %>

<h2>User info</h2>
<table class="table">
  <tbody>
      <tr>
        <td><%= attachment_image_tag user, :profile_image, size: "100x100", class: "img-rounded pull-left", fallback: "no_image.jpg" %></td>
      </tr>
      <tr>
        <td>name</td>
        <td><%= user.name %></td>
      </tr>
      <tr>
        <td>introduction</td>
        <td><%= user.introduction %></td>
      </tr>
      <tr>
        <td>follows</td>
        <td><%= link_to follows_user_path(user) do %><%= user.follower.count %><% end %></td>
      </tr>
      <tr>
        <td>followers</td>
        <td><%= link_to followers_user_path(user) do %><%= user.followed.count %><% end %></td>
      </tr>
      <tr>
        <% if current_user.following?(user) %>
          <td><%= link_to 'フォロー外す', unfollow_path(user.id), method: :post, class: "btn btn-lg btn-warning" %></td><td></td>
        <% else %>
          <td><%= link_to 'フォローする', follow_path(user.id), method: :post, class: "btn btn-lg btn-primary" %></td><td></td>
        <% end %>
      </tr>
  </tbody>
</table>
<div class="row">
  <% if user.id == current_user.id %>
    <p><%= link_to "", edit_user_path(current_user), class: "col-xs-12 btn btn-default glyphicon glyphicon-wrench" %></p>
  <% end %>
</div>

<h2>New book</h2>

<%= form_for (book) do |f| %>

  <% if book.errors.any? %>
    <div id="error_explanation" class="alert aleart-danger">
    <h2><%= book.errors.count %>errors prohibited this obj from being saved:</h2>
      <ul>
        <% book.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field row">

    <h4>Title</h4>
    <%= f.text_field :title %>
  </div>

  <div class="field row">
    <h4>Opinion</h4>
    <%= f.text_area :body %>
  </div>

  <div class="actions row">
    <%= f.submit 'Create Book' %>
  </div>
<% end %>