<div class="body">
  <div class="container">
    <p id="notice"></p>
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <h1>Editing Book</h1>

          <%= form_for(@book, url:"/books/#{@book.id}") do |f| %>
              <h4>Title</h4><br>
              <%= f.text_field :title %>

          <div class="field row">
            <h4>Opinion</h4>
            <textarea class="col-xs-12 book_body" name="book[body]" id="book_body"><%= f.text_area :body %></textarea>
          </div>

          <div class="actions row">
              <%= f.submit 'Update Book' %>

          <% end %>
          </div>

          <%= link_to "Show", book_path(@book.id) %> |
          <a class="back" href="/books">Back</a>
        </div>
      </div>
  </div>
</div>

<footer>
  <div class="container">
    <div class="row">
      <div class="col-xs-3 col-xs-offset-9">
        <p>CopyRight Infratop.inc</p>
      </div>
    </div>
  </div>
</footer>