<div class="body">
  <div class="container">
    <div class="row">
      <div class="col-xs-3">

      <%= render 'users/side', user: current_user, book: Book.new %>

      </div>
      <div class="col-xs-9">
      <h2>Book detail</h2>
        <table class="table table-hover table-inverse">
          <tbody>
            <tr>
              <%= render 'detail', book: @book %>
            </tr>
          </tbody>
        </table>
        <table>
          <tbody>
          <% @book.book_comments.each do |book_comment| %>
            <tr class="comment">
              <div class="comment-body bb">
                <td class="comment-avatar">
                  <%= attachment_image_tag book_comment.user, :profile_image, size: "50x50", class: "img-rounded pull-left", fallback: "no_image.jpg" %><br>
                  <%= book_comment.user.name %>
                </td>
                <td class="comment-entry"><%= book_comment.comment %></td>
                <% if book_comment.user_id == current_user.id %>
                  <td><%= link_to "Destroy", book_book_comments_path(book_comment), method: :delete, class: "btn-sm btn-danger destroy" %></td>
                <% end %>
              </div>
            </tr>
          <% end %>
          </tbody>
        </table><br>
        <%= form_for [@book, @book_comment] do |f| %>
          <div class="row">
            <div class="col-sm-12">
              <%= f.text_area :comment, rows:'5', class: "form-control", placeholder: "コメントをここに" %>
            </div>
          </div>
          <%= f.submit "送信する", class: "btn btn-lg btn-base-1 mt-20 pull-right" %>
        <% end %>
      </div>
    </div>
  </div>
</div>