<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css">
    <title>Bookers2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <nav class="nav navbar-nav navbar-left">
          <span>Bookers</span>
        </nav>
        <nav>
          <ul class="nav navbar-nav navbar-right">
            <% if user_signed_in? %>
              <li class="seachbar">
                <%= form_tag(search_path, method: :get) do %>
                  <%= text_field_tag 'search[content]' %>
                  <%= select_tag 'search[model]', options_for_select({ "User" => "user", "Book" => "book" }) %>
                  <%= select_tag 'search[method]', options_for_select({ "完全一致" => "perfect", "前方一致" => "forward", "後方一致" => "backward", "部分一致" => "partial" }) %>
                  <%= submit_tag '検索' %>
                <% end %>
              </li>
              <li class="">
                <%= link_to user_path(current_user) do %>
                  <span class="glyphicon glyphicon-home home"></span> Home
                <% end %>
              </li>
              <li class="">
                <%= link_to ("/users") do %>
                  <span class="glyphicon glyphicon-user users"></span> Users
                <% end %>
              </li>
              <li class="">
                <%= link_to ("/books") do %>
                  <span class="glyphicon glyphicon-book books"></span> Books
                <% end %>
              </li>
              <li class="">
                <%= link_to destroy_user_session_path, method: :delete do %>
                  <span class="glyphicon glyphicon-log-out logout"></span> logout
                <% end %>
              </li>
            <% else %>
              <li><%= link_to root_path do %>
                    <span class="glyphicon glyphicon-home home"></span> Home
                  <% end %>
              </li>
              <li><%= link_to home_about_path do %>
                    <span class="glyphicon glyphicon-link about"></span> About
                  <% end %>
              </li>
              <li><%= link_to new_user_registration_path do %>
                    <span class="glyphicon glyphicon-link about"></span> sign up
                  <% end %>
              </li>
              <li><%= link_to new_user_session_path do %>
                    <span class="glyphicon glyphicon-log-in sign_in"></span> login
                  <% end %>
              </li>
            <% end %>
          </ul>
        </nav>
      </div>
    </header>

  <%= yield %>

    <footer>
      <div class="container">
        <div class="row">
          <div class="col-xs-3 col-xs-offset-9">
            <p>CopyRight Infratop.inc</p>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
